<h1>Livros cadastrados</h1>
<section class="container">
    {{#each books}}
        <div class="item">
            <h2>{{ this.titulo }}</h2>
            <p>Autor: {{ this.autor }}</p>
            <p>Preço: {{ this.preco }}</p>
            <div class="actions">
                <a href="/books/{{ this.id }}" class="details-btn">Ver detalhes</a>

                <a href="/books/edit/{{ this.id }}" class="edit-btn">Editar</a>

                <form action="/books/delete/{{ this.id }}" method="post">
                    <input type="submit" value="Excluir" class="delete-btn">
                </form>
            </div>
        </div>
    {{/each}}
</section>